BitVector==3.5.0
contourpy==1.0.7
cycler==0.11.0
data==0.4
decorator==5.1.1
fonttools==4.38.0
funcsigs==1.0.2
future==0.18.3
gudhi==3.8.0
kiwisolver==1.4.4
latex==0.7.0
matplotlib==3.7.0
numpy==1.23.5
packaging==23.0
Pillow==9.4.0
pygame==2.1.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
scapy==2.5.0
shutilwhich==1.1.0
six==1.16.0
syllapy==0.7.2
tempdir==0.7.1
